


<div class="about-section">
  <h1>qui sommes-nous ?</h1>
  <p>nous sommes des étudiants à iset charguia, 2ème année DSI, nous avons créé ce site pour une agence de voyage en utilisant angular et firebase.</p>
  <p>et voilà ci-dessous notre contact:</p>
</div>

<h2 style="text-align:center">Best Tunisia Travel</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/assets/houssem.jpg" alt="Houssem" style="width:100%; height: 100%;">
      <div class="container">
        <h2>Houssem brahem</h2>
        <p class="title">Etudiant</p>
        <p>DSI22</p>
        <p>edobrahem@gmail.com</p>
        <a href="mailto:edobrahem@gmail.com"><button class="button">Contact</button></a>
      </div>
    </div>
  </div>

  
  <div class="column">
    <div class="card">
     
    
  </div>
</div>

<div class="column">
    <div class="card">
      <img src="/assets/yassine.jpg" alt="Yassine" style="width:100%; height: 100%;">
      <div class="container">
        <h2>Yassine Meriah</h2>
        <p class="title">Etudiant</p>
        <p>DSI22</p>
        <p>yassinemeriah2001@gmail.com</p>
        <a href="mailto:yassinemeriah2001@gmail.com"><button class="button">Contact</button></a>
      </div>
    </div>
  </div>
</div>


