input.ng-invalid{
    border-left: 5px solid red;
}

input.ng-valid{
    border-left: 5px solid green;
}

h3{
    background-color: 	#aeaeae;
    margin: 0 auto;
    width:fit-content;
    margin-top: 60px;
    
}

.main {
    margin-left: 160px; 
    margin-top: 100px;
    padding: 0px 10px;
  }
