<div class="sidenav bg-dark">
   <p style="color: beige   ;">!filter options!</p> 
  </div>
   
  <input type="search" style=" margin-top: 5%;" class="center rounded-pill"  [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search">
   <ul >
        <li *ngFor=" let p of this.prod.prodlist | filter:searchKey:'lib'">

            <div  class="card text-center" style="width: 18rem; height: 25rem;" id="card">
                <img class="card-img-top" src="{{p.photo}}" alt="No Immage" />
                <div class="card-body">
                    <h5 class="card-title">{{p.lib}}</h5>
                    <p class="card-text">Price:{{p.prix|number}}TND</p>
                    <a routerLink="/produits/{{p.id}}" class="btn btn-primary">See Details</a>
                </div>
            </div>
        </li>

    </ul>
    
   
    




